//- views/layout.jade
doctype
html
	head(lang="en")
		title= "Nodejs App 101"
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", type="text/css")
		link(rel='stylesheet', href='custom.css')

	body
		.container
			div.jumbotron.text-center
				block content